aws_region   = "ap-northeast-2"
aws_profile  = "ys-admin"
project_name = "concerts"
environment  = "global"
domain_name  = "stagepick.cloud"

vercel_cname_value          = "replace-me"
enable_frontend_apex_record = true
vercel_apex_a_record        = "replace-me"
